/*
1. Posicionamiento
  - position fixed, relative
2. Modelo de caja (Box model)
  - margin
  - padding
  - width-height
3. Tipografía
4. Visuales
  -shadow box
  -border radious
5. Otros
*/

:root{
  --white: #FFFFFF;
  --black: #000000;
  --green1: #7E956B;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --vlg: 30px
}
body{
  margin: 0;
  /* width: 96%; */
  font-family:  'Raleway', sans-serif;;
}
*{
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */
}
html{
  font-size: 62.5;
}



header{
  background-color: var(--green1);
  display: flex;
  height: 70px;
  justify-content:space-around;
  align-items: center;
  width: 100%;
  position: fixed;
}
.HeaderTitle{
  color: var(--white);
}

.symbol{
  width: 50px;
  height: 50px;
}
.MenuBurger{
  width: 25px;
  height: 25px;
}

/* Main */

main{
  width: 100%;
  
}
.ServiceImgage{
  width: 100%
}

.Subtitle{
 color: var(--green1);
 font-weight: 400;
 font-size: var(--vlg);
 text-align: center;
 margin-top: 20px;
}

.Paragraph{
  margin: 10px 50px 10px 50px;
  text-align: justify;

}
.Banner{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: var(--green1);
  text-align: center;
  margin-bottom: 5px;
}
.Banner p{
  margin: auto;
  color: white;
  font-weight: bold;
}


.Map{
  width: 100%;
}

footer{
  background-color: var(--green1);
  padding: 20px 50px 0px 50px;
}

.FooterHeadline{
  display: flex;
  color: var(--white);
  justify-content: space-around;
}

.ContactFooter{
  margin: 20px;
  color: var(--white);
  justify-content: center;
}

.SocialNetworkImages{
  display: flex;
  justify-content: center;
}

.SocialNetworkImages img{
  width: 30px;
  height: 30px;
  margin: 0px 20px 50px 20px;
}

@media (min-width: 992px){

  header img{
    width: 100%;
  }

  .Restaurant{
    display: flex;
    width: 100%;
    margin: 50px;
  }
  .RestauratImage{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    object-fit: cover;
  }

  .RestaurantParagraph{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 5%;
    justify-content: center;
  }
 
  .RestauratImage img{
    display: flex;
    width: 100%;
    height: 60%;
  }

  .Hike{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: flex-end;
    /* margin: 50px; */
  }
  .HikeImage{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
  }

  .HikeParagraph{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 5%;
    justify-content: center;
  }
 
  .HikeImage img{
    display: flex;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    
  }
  
  .Bike{
    display: flex;
    width: 100%;
    margin: 50px;
  }
  .BikeImage{
    width: 40%;
    display: flex;
    align-content: center;
  }

  .BikeParagraph{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 5%;
    flex-wrap: wrap;
    justify-content: center;
  }
 
  .BikeImage img{
    display: flex;
    width: 100%;
    object-fit: cover;
  }

  .Banner{
    
  }
 

 
}